.smiley-container {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.smiley {
    cursor: pointer;
    font-size: 24px;
}

.count-container {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-right: 18px;
    margin-left: 12px;
}

.count {
    font-size: 24px;
}